{% extends 'base.html' %}
{% block title %}Cafe&Wifi API{% endblock %}

{% block content %}
<div class="jumbotron text-center">
    <div class="container">
        <h1 class="display-4">☕️ Welcome to the Cafe & Wifi API 💻</h1>
        <p class="lead">Want to work in a cafe but need power and wifi?</p>
        <hr class="my-4">
        <p>You've found the right place! Checkout my collection of cafes with data on <b>Power Socket Availability</b>, <b>WiFi Availability</b> and <b>Coffee Prices</b>.</p>
        <a class="btn btn-warning btn-lg" href="{{url_for('all_cafes')}}" role="button">ALL CAFES</a>
    </div>
</div>
{% endblock %}