<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chuck Norris Joke</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Link to your CSS file -->
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="joke-container">
            <img src="{{ url_for('static', filename='assets/img/giphy.gif') }}" alt="Image of Chuck Norris Minion" class="img-fluid rounded mx-auto d-block mb-4">
            <h1 class="text-center">Chuck Norris Joke</h1>
            <p class="lead">{{ joke }}</p>
            <button class="btn btn-primary btn-lg btn-block"><a href="/">New Joke</a></button>
        </div>
    </div>
</body>
</html>
