<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        Hello World!
    </h1>
    <form action="{{url_for('login')}}" method="post">
        <label>Name:</label><br>
        <input type="text" name="username" placeholder="name"><br>

        <label>Password:</label><br>
        <input type="password" name="password" placeholder="password"><br><br>

        <input type="submit" value="Submit">
    </form> 
</body>
</html>