{% from "bootstrap5/form.html" import render_form %}
{% include "header.html" %}

<div class="container mt-5">
    <h2>Your Shopping Cart</h2>
    {% if cart_items %}
        <!-- Adding Flash message here for users trying to register twice -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p class="flash">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart_items %}
                <tr>
                    <td>
                        {{ item.product.scent_name }} <br>
                        <img src="{{ url_for('static', filename='/assets/img/' + item.product.image) }}" height="150">
                    </td>
                    <td>
                        {{item.quantity}}
                    </td>
                    <td>KES {{ item.product.original_price }}</td>
                    <td>
                        <a href="{{ url_for('update_cart', product_id=item.product.id, action='decrease') }}" class="btn btn-sm btn-secondary">-</a>
                        <a href="{{ url_for('update_cart', product_id=item.product.id, action='increase') }}" class="btn btn-sm btn-secondary">+</a>
                        <a href="{{ url_for('remove_from_cart', product_id=item.product.id) }}" class="btn btn-sm btn-danger">Remove</a>
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="2"><strong>Total:</strong></td>
                    <td><strong>KES {{ total_price }}</strong></td>
                </tr>
            </tbody>
        </table>
        <a href="{{ url_for('get_all_products')}}" class="btn btn-primary">Continue Shopping</a> <br><br>
        <a href="{{ url_for('checkout')}}" class="btn btn-primary">Check Out</a>
    {% else %}
        <p>Your cart is empty.</p>
    {% endif %}
</div>

{% include "footer.html" %}