{% extends 'base.html' %}

{% block title %}Add Movie{% endblock %}

{% block content %}
<div class="content">
    <h1 class="heading">Add a Movie</h1>
</div>

<form action="{{ url_for('add') }}" method="POST">
    <label>Movie Name</label><br/>
    <input type="text" name="title"/> <br/>
    <label>Year Released</label><br/>
    <input type="text" name="year"/> <br/>
    <label>Description</label><br/>
    <input type="text" name="description"/> <br/>
    <label>Rating</label><br/>
    <input type="text" name="rating"/> <br/>
    <label>Ranking</label><br/>
    <input type="text" name="ranking"/> <br/>
    <label>Review</label><br/>
    <input type="text" name="review"/> <br/>
    <label>Image</label><br/>
    <input type="text" name="image"/> <br/><br/>
    <button type="submit" class="btn btn-primary">Add Movie</button>
</form>

{% endblock %}